<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
	  <li><script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js"></script>

<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="mark-sumner-61635658"><a class="LI-simple-link" href='https://www.linkedin.com/in/mark-sumner-61635658?trk=profile-badge'>Mark Sumner</a></div></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

	<p>{{ site.description }}</p>

      </div>
    </div>

  </div>
</footer>
